.login-page-wrapper {
  background-image: url("https://baldezh.top/uploads/posts/2023-12/1701916399_baldezh-top-p-fon-domashnie-zhivotnie-krasivo-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
